{% extends "../base/layout.html" %}{% load static %}
<!--  -->
{% load poll_extras %}

<!-- main -->
{% block main %}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Cart</h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Cart</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="cart-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table">
            <form action="">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      {% if products|length %}
                      <th></th>
                      <th></th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <!---->
                      {% else %}
                      <th>No products. Please, add some products</th>
                      {% endif %}
                    </tr>
                  </thead>

                  {% if products|length %}

                  <tbody>
                    <!---->
                    {% for product in products %}
                    <tr>
                      <td>
                        <a
                          class="remove"
                          href="{% url 'remove_from_cart' id=product.id %}"
                        >
                          <fa class="fa fa-close"></fa>
                        </a>
                      </td>
                      <td>
                        <a
                          href="{% url 'products' slug=product.slug %}?{% urlquery product.params %}"
                        >
                          <img src="{{ product.image.url }}" alt="img" />
                        </a>
                      </td>
                      <td>
                        <a
                          class="aa-cart-title"
                          href="{% url 'products' slug=product.slug %}?{% urlquery product.params %}"
                        >
                          {{ product.name }}
                        </a>
                      </td>
                      <td>${{ product.price }}</td>
                      <td>{{ product.count }}</td>
                      <td>{{ product.total }}</td>
                      {% comment %}
                      <td>
                        <input
                          class="aa-cart-quantity"
                          type="number"
                          value="1"
                        />
                      </td>
                      <td>$250</td>
                      {% endcomment %}
                    </tr>
                    {% endfor %}
                    <!---->
                    <tr>
                      <td colspan="6" class="aa-cart-view-bottom">
                        {% comment %}
                        <div class="aa-cart-coupon">
                          <input
                            class="aa-coupon-code"
                            type="text"
                            placeholder="Coupon"
                          />
                          <input
                            class="aa-cart-view-btn"
                            type="submit"
                            value="Apply Coupon"
                          />
                        </div>
                        {% endcomment %} {% comment %}
                        <input
                          class="aa-cart-view-btn"
                          type="submit"
                          value="Update Cart"
                        />
                        {% endcomment %}
                      </td>
                    </tr>
                  </tbody>

                  {% endif %}
                </table>
              </div>
            </form>

            {% if products|length %}

            <!-- Cart Total view -->
            <div class="cart-view-total">
              <h4>Cart Totals</h4>
              <table class="aa-totals-table">
                <tbody>
                  <tr>
                    <td>{{ total|yesno:"$," }}{{ total }}</td>
                  </tr>
                </tbody>
              </table>
              <a href="{% url 'checkout' %}" class="aa-cart-view-btn">
                Proced to Checkout
              </a>
            </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Cart view section -->

{% endblock main %}
<!-- / main -->
