{% extends "../base/layout.html" %}{% load static %}

<!-- main -->
{% block main %}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img
    src="{% static 'shop/img/fashion/fashion-header-bg-8.jpg' %}"
    alt="fashion img"
  />
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Checkout</h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Checkout</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="checkout-area" action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          <div>
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">
                    <!-- Billing Details -->
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseItem"
                          >
                            Order Details
                          </a>
                        </h4>
                      </div>
                      <div id="collapseItem" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                {{ form.first_name }}

                                <span class="aa-checkout-single-error">
                                  {{ form.first_name.errors }}
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                {{ form.last_name }}

                                <span class="aa-checkout-single-error">
                                  {{ form.last_name.errors }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                {{ form.email }}

                                <span class="aa-checkout-single-error">
                                  {{ form.email.errors }}
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                {{ form.phone_number }}

                                <span class="aa-checkout-single-error">
                                  {{ form.phone_number.errors }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                {{ form.comment }}

                                <span class="aa-checkout-single-error">
                                  {{ form.comment.errors }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <input
                                class="aa-browse-btn order-btn"
                                type="submit"
                                value="Place Order"
                              />
                            </div>
                          </div>

                          {% comment %}
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <select>
                                  <option value="0">Select Your Country</option>
                                  <option value="1">Australia</option>
                                  <option value="2">Afganistan</option>
                                  <option value="3">Bangladesh</option>
                                  <option value="4">Belgium</option>
                                  <option value="5">Brazil</option>
                                  <option value="6">Canada</option>
                                  <option value="7">China</option>
                                  <option value="8">Denmark</option>
                                  <option value="9">Egypt</option>
                                  <option value="10">India</option>
                                  <option value="11">Iran</option>
                                  <option value="12">Israel</option>
                                  <option value="13">Kazakhstan</option>
                                  <option value="14">Russia</option>
                                  <option value="15">Mexico</option>
                                  <option value="16">UAE</option>
                                  <option value="17">UK</option>
                                  <option value="18">USA</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkout-right">
                  <h4>Order Summary</h4>
                  <div class="aa-order-summary-area">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in products %}
                        <tr>
                          <td>
                            {{ product.name | truncatechars:28 }}
                            <strong> x {{ product.count }}</strong>
                          </td>
                          <td>${{ product.price }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Total</th>
                          <td>{{ total }}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <h4>Payment Method</h4>
                  <div class="aa-payment-method">
                    {{ form.payment }}

                    <span class="aa-checkout-single-error">
                      {{ form.payment.errors }}
                    </span>

                    <br />
                    <br />

                    <img
                      src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"
                      border="0"
                      alt="PayPal Acceptance Mark"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- / Cart view section -->

{% endblock main %}
<!-- / main -->
