{% extends "../base/layout.html" %}{% load static %}
<!--  -->
{% load poll_extras %}

<!-- main -->
{% block main %}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <div class="aa-catg-head-banner-area" style="background-color: #3c7ac2;">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>
          {% if state.search %} {{ state.search }} 
          <!--  -->
          {{ state.category.name }}
          <!--  -->
          {% endif %}
        </h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          {% if state.category.slug == 'all' %}
          <li class="active">Collections</li>
          {% else %}
          <li><a href="{% url 'collections' %}">Collections</a></li>
          {% endif %} {% if state.category.slug != 'all' %}
          <li class="active">{{ state.category.name }}</li>
          {% endif %}
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-category">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
        <div class="aa-product-catg-content">
          {% if page|length %}

          <div class="aa-product-catg-head">
            <div class="aa-product-catg-head-left">
              <form
                action="
                  {% if state.category.slug == 'all' %}
                    {% url 'collections' %}
                  {% else %}
                    {% url 'collections' slug=state.category.slug %}
                  {% endif %}"
                class="aa-filter-form"
              >
                <div class="aa-filter-item">
                  <label for="#">Sort by</label>
                  <select name="sort">
                    <option
                      value="1"
                      {% if query.sort == '1' %}selected{% endif %}
                    >
                      Default
                    </option>
                    <option
                      value="2"
                      {% if query.sort == '2' %}selected{% endif %}
                    >
                      Name
                    </option>
                    <option
                      value="3"
                      {% if query.sort == '3' %}selected{% endif %}
                    >
                      Price
                    </option>
                  </select>
                </div>

                <div class="aa-filter-item">
                  <label for="#">Show</label>
                  <select name="count">
                    <option
                      value="1"
                      {% if query.count == '1' %}selected{% endif %}
                    >
                      12
                    </option>
                    <option
                      value="2"
                      {% if query.count == '2' %}selected{% endif %}
                    >
                      24
                    </option>
                    <option
                      value="3"
                      {% if query.count == '3' %}selected{% endif %}
                    >
                      36
                    </option>
                  </select>

                  <input name="search" type="hidden" value="{{ query.search }}" />
                </div>
              </form>
            </div>
            <div class="aa-product-catg-head-right">
              <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
              <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
            </div>
          </div>
          <div class="aa-product-catg-body">
            <ul class="aa-product-catg">
              {% for product in page %}

              <!-- start single product item -->
              <li>
                <figure>
                  <a
                    class="aa-product-img"
                    href="{% url 'products' slug=product.slug %}"
                    title="{{ product.name }}"
                  >
                    <img src="{{ product.image.url }}" alt="polo shirt img" />
                  </a>
                  {% if not product.in_cart %}
                  <a class="aa-add-card-btn" href="{% url 'add_to_cart' id=product.id %}">
                    <span class="fa fa-shopping-cart"></span>
                    Add To Cart
                  </a>
                  {% else %}
                  <a class="aa-add-card-btn" href="{% url 'cart' %}">
                    <span class="fa fa-shopping-cart"></span>
                    Go To Cart
                  </a>
                  {% endif %}
                  <figcaption>
                    <h4 class="aa-product-title">
                      <a
                        href="{% url 'products' slug=product.slug %}"
                        title="{{ product.name }}"
                      >
                        {{ product.name | truncatechars:28 }}
                      </a>
                    </h4>
                    <span class="aa-product-price">${{ product.price }}</span>
                    <p class="aa-product-descrip">{{ product.short_desc }}</p>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  {% if not product.in_wishlist %}
                  <a
                    href="{% url 'add_to_wishlist' id=product.id %}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Add to Wishlist"
                  >
                    <span class="fa fa-heart-o"></span>
                  </a>
                  {% else %}
                  <a
                  href="{% url 'wishlist' %}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Go to Wishlist"
                >
                  <span class="fa fa-heart"></span>
                </a>

                  {% endif %}
                  <!-- <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Compare"
                    ><span class="fa fa-exchange"></span
                  ></a> -->
                  <!-- <a
                    href="#"
                    data-toggle2="tooltip"
                    data-placement="top"
                    title="Quick View"
                    data-toggle="modal"
                    data-target="#quick-view-modal"
                    ><span class="fa fa-search"></span
                  ></a> -->
                </div>
              </li>

              {% endfor %}
            </ul>
            <!-- quick view modal -->
            <div
              class="modal fade"
              id="quick-view-modal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-hidden="true"
                    >
                      &times;
                    </button>
                    <div class="row">
                      <!-- Modal view slider -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-slider">
                          <div class="simpleLens-gallery-container" id="demo-1">
                            <div class="simpleLens-container">
                              <div class="simpleLens-big-image-container">
                                <a
                                  class="simpleLens-lens-image"
                                  data-lens-image="{% static 'shop/img/view-slider/large/polo-shirt-1.png' %}"
                                >
                                  <img
                                    src="{% static 'shop/img/view-slider/medium/polo-shirt-1.png' %}"
                                    class="simpleLens-big-image"
                                  />
                                </a>
                              </div>
                            </div>
                            <div class="simpleLens-thumbnails-container">
                              <a
                                href="#"
                                class="simpleLens-thumbnail-wrapper"
                                data-lens-image="{% static 'shop/img/view-slider/large/polo-shirt-1.png' %}"
                                data-big-image="{% static 'shop/img/view-slider/medium/polo-shirt-1.png' %}"
                              >
                                <img
                                  src="{% static 'shop/img/view-slider/thumbnail/polo-shirt-1.png' %}"
                                />
                              </a>
                              <a
                                href="#"
                                class="simpleLens-thumbnail-wrapper"
                                data-lens-image="{% static 'shop/img/view-slider/large/polo-shirt-3.png' %}"
                                data-big-image="{% static 'shop/img/view-slider/medium/polo-shirt-3.png' %}"
                              >
                                <img
                                  src="{% static 'shop/img/view-slider/thumbnail/polo-shirt-3.png' %}"
                                />
                              </a>

                              <a
                                href="#"
                                class="simpleLens-thumbnail-wrapper"
                                data-lens-image="{% static 'shop/img/view-slider/large/polo-shirt-4.png' %}"
                                data-big-image="{% static 'shop/img/view-slider/medium/polo-shirt-4.png' %}"
                              >
                                <img
                                  src="{% static 'shop/img/view-slider/thumbnail/polo-shirt-4.png' %}"
                                />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal view content -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-content">
                          <h3>T-Shirt</h3>
                          <div class="aa-price-block">
                            <span class="aa-product-view-price">$34.99</span>
                            <p class="aa-product-avilability">
                              Avilability: <span>In stock</span>
                            </p>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Officiis animi, veritatis quae repudiandae
                            quod nulla porro quidem, itaque quis quaerat!
                          </p>
                          <h4>Size</h4>
                          <div class="aa-prod-view-size">
                            <a href="#">S</a>
                            <a href="#">M</a>
                            <a href="#">L</a>
                            <a href="#">XL</a>
                          </div>
                          <div class="aa-prod-quantity">
                            <form action="">
                              <select name="" id="">
                                <option value="0" selected="1">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                                <option value="5">6</option>
                              </select>
                            </form>
                            <p class="aa-prod-category">
                              Category: <a href="#">Polo T-Shirt</a>
                            </p>
                          </div>
                          <div class="aa-prod-view-bottom">
                            <a href="#" class="aa-add-to-cart-btn"
                              ><span class="fa fa-shopping-cart"></span>Add To
                              Cart</a
                            >
                            <a href="#" class="aa-add-to-cart-btn"
                              >View Details</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- / quick view modal -->
          </div>

          {% else %}

          <section id="aa-error">
            <div class="aa-error-area">
              <h2>Oops</h2>
              <span
                >Sorry! We haven't any products <br />
                in this collection yet</span
              >
              <a href="{% url 'collections' %}">Go to All Collections</a>
            </div>
          </section>

          {% endif %}

          <div class="aa-product-catg-pagination">
            <nav>
              <ul class="pagination">
                <!-- Prev -->
                {% if page.has_previous %}
                <li>
                  <a
                    href="?{% urlquery query 'page' page.previous_page_number %}"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                <!-- Nums -->
                {% if page %} 
                  {% for l in page.paginator.page_range %}
                    {% if l > page.number|add:'-3' and l < page.number|add:'3' %}
                    <li>
                      <a href="?{% urlquery query 'page' forloop.counter %}" 
                      {%  if forloop.counter == query.page %}class="current"{% endif %}
                      >
                        {{ forloop.counter }}
                      </a>
                    </li>
                    {% endif %}
                  {% endfor %} 
                {% endif %}

                <!-- Next -->
                {% if page.has_next %}
                <li>
                  <a href="?{% urlquery query 'page' page.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
        <aside class="aa-sidebar">
          <div class="aa-sidebar-widget">
            <h3>Category</h3>
            <ul class="aa-catg-nav">
              {% for category in categories %}
              <li>
                <a href="{% url 'collections' slug=category.slug %}">
                  {{ category.name }}
                </a>
              </li>
              {% for subcategory in category.sub %}
              <li>
                <a href="{% url 'collections' slug=subcategory.slug %}">
                  {{ subcategory.name }}
                </a>
              </li>
              {% endfor %} {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->

{% endblock main %}
<!-- / main -->
