{% extends "../base/layout.html" %}{% load static %}
<!--  -->
{% load poll_extras %}

<!-- main -->
{% block main %}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img
    src="{% static 'shop/img/fashion/fashion-header-bg-8.jpg' %}"
    alt="fashion img"
  />
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Wishlist Page</h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Wishlist</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="cart-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table aa-wishlist-table">
            <form action="">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      {% if products|length %}
                      <th></th>
                      <th></th>
                      <th>Product</th>
                      <th>Price</th>
                      {% comment %}
                      <th>Stock Status</th>
                      {% endcomment %}
                      <th></th>
                      <!---->
                      {% else %}
                      <th>No products. Please, add some products</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% if products|length %}
                    <!---->
                    {% for product in products %}
                    <tr>
                      <td>
                        <a
                          class="remove"
                          href="{% url 'remove_from_wishlist' id=product.id %}"
                        >
                          <fa class="fa fa-close"></fa>
                        </a>
                      </td>
                      <td>
                        <a
                          href="{% url 'products' slug=product.slug %}?{% urlquery product.params %}"
                        >
                          <img src="{{ product.image.url }}" alt="img" />
                        </a>
                      </td>
                      <td>
                        <a
                          class="aa-cart-title"
                          href="{% url 'products' slug=product.slug %}?{% urlquery product.params %}"
                          >{{ product.name }}</a
                        >
                      </td>
                      <td>${{ product.price }}</td>
                      {% comment %}
                      <td>In Stock</td>
                      {% endcomment %}
                      <td>
                        {% if not product.in_cart %}
                        <a
                          href="{% url 'add_to_cart' id=product.id %}"
                          class="aa-add-to-cart-btn"
                        >
                          Add To Cart
                        </a>
                        {% else %}
                        <a href="{% url 'cart' %}" class="aa-add-to-cart-btn">
                          Go To Cart
                        </a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                    <!---->
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Cart view section -->

{% endblock main %}
<!-- / main -->
